/* ========================================================================
Part: Portable
========================================================================== */
/* ========================================================================
Component: Header
========================================================================== */
.uk-header {
    position: relative;
    background: transparent;
    min-height: 85px;
    display: flex;
    align-items: center;
}
.uk-header-margin {
    margin-bottom: -120px;
}
.uk-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.uk-header > .uk-container {
    position: relative;
    z-index: 2;
}
.uk-header .uk-text {
    max-width: 160px;
    font-size: 0.6rem;
    line-height: 1.5;
    text-transform: none;
    color: var(--content);
    margin-bottom: 10px;
}
.uk-header .uk-button::before {
    background: var(--base) !important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: All 0.25s ease-in-out;
    -moz-transition: All 0.25s ease-in-out;
    -o-transition: All 0.25s ease-in-out;
    -ms-transition: All 0.25s ease-in-out;
    transition: All 0.25s ease-in-out;
}
.uk-header .uk-button a {
    padding: 0px 15px;
    font-weight: 700;
    line-height: 50px;
}
.uk-header .uk-small {
    background: #FFF;
    max-width: 100px;
    box-shadow: 0 4px 10px rgb(var(--base-rgba) / 40%);
    padding: 0px;
}
.uk-header .uk-small .uk-logo {
    padding: 10px 25px;
}
.uk-header .uk-social {
    background-color: var(--base);
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 600px;
}
.uk-header .uk-social .uk-grid {
    background: #FFF;
    margin: 0;
}
.uk-header .uk-social .uk-grid > * {
    width: 50%;
    padding-left: 0;
}
.uk-header .uk-social a.uk-element {
    background: rgba(var(--base-rgba) / 100%);
    color: #FFF;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}
.uk-header .uk-social .uk-grid >*:nth-child(2) a.uk-element {
    background: rgba(var(--base-rgba) / 80%);
}
.uk-header .uk-social .uk-grid >*:nth-child(3) a.uk-element {
    background: rgba(var(--base-rgba) / 70%);
}
.uk-header .uk-social .uk-grid >*:nth-child(4) a.uk-element {
    background: rgba(var(--base-rgba) / 60%);
}
.uk-header .uk-navbar-nav > li > a {
    min-height: 50px;
    text-transform: none;
    color: var(--content);
    padding: 0 10px;
    position: relative;
    font-size: 0.8rem;
    letter-spacing: -1px;
}
.uk-header .uk-navbar-nav > li.uk-active > a {
    color: var(--base);
    font-weight: 700;
}
.uk-header .uk-navbar-nav > li > a::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--base);
    opacity: 0;
    -webkit-transition: All 0.25s ease-in-out;
	-moz-transition: All 0.25s ease-in-out;
	-o-transition: All 0.25s ease-in-out;
	-ms-transition: All 0.25s ease-in-out;
	transition: All 0.25s ease-in-out;
}
.uk-header .uk-navbar-nav > li.uk-active > a::before {
    opacity: 1;
    top: 0px;
}
.uk-header .uk-navbar-nav > li:not(.uk-active) > a:hover:before {
    opacity: 1;
    top: 0px;
    background: rgba(var(--base-rgba) /50%);
}
.uk-header .uk-link-element > a {
    color: var(--content);
    display: inline-flex;
    align-items: center;
}
.uk-header .uk-link-element > a.uk-login-link {
    color: var(--base);
}
.uk-header .uk-link-element > a:hover {
    text-decoration: underline;
}
.uk-header .uk-link-element > span {
    color: rgba(0 0 0 / 20%);
}
/* ========================================================================
Component: Header
========================================================================== */
/* ========================================================================
Component: Header Bar
========================================================================== */
.uk-header-bar {
    background: transparent;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1;
}
.uk-header-bar,
.uk-header-bar.uk-sticky.uk-active  {
    width: 85px !important;
    min-height: 85px;
}
.uk-header-bar.uk-active {
    background: var(--base-transparent);
    height: 100vh;
}
.uk-header-bar .uk-button {
	background: var(--base);
	color: #FFF;
	height: 85px;
	width: 100%;
	padding: 0px;
	overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========================================================================
Component: Header
========================================================================== */
/* ========================================================================
Component: Breadcrumb
========================================================================== */
.uk-panel-breadcrumb {
    padding: 10px 45px 10px 10px;
    display: inline-block;
    margin: 0;
    border-radius: 0px;
    background: #FFF;
}
.uk-panel-breadcrumb .uk-alert-close {
    top: calc(50% - 7px);
}
.uk-screen-header .uk-panel-breadcrumb {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
/* ========================================================================
Component: Breadcrumb
========================================================================== */
/* ========================================================================
Part: Portable
========================================================================== */